.matchDataSection {
  max-width: 600px; 
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-bottom: 1rem;
}

.matchTeams {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.teamItem {
  flex: 1;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ddd;
}

.teamItem.selected {
  background-color: #d4edfc;
  border: 1px solid #3498db;
}

/* 레벨 분포도 */
.levelDistribution {
  margin-top: 20px;
  text-align: center;
}

.levelChart {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
}

/* 추가 스타일 조정 */
.chartBar div {
  width: 100%;
  background-color: #3498db;
}

.playStyleChart {
  margin-top: 20px;
  text-align: center;
}

.playStyleLegend {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 12px;
}

.pomInfo {
  margin-top: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #333;
}
