.matchDetails {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.matchTime {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

.matchPlace {
  margin-bottom: 15px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.title a {
  text-decoration: none;
  color: black;
}

.wtgTool {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.copy,
.map {
  cursor: pointer;
  color: #838383;
  text-decoration: underline;
}

.matchFee {
  margin-top: 15px;
  padding: 10px 0; /* 상하 여백 */
}

.contentBlock {
  padding: 20px 0; /* 위아래 패딩 */
  border-top: 1px solid #ddd; /* 위쪽 선 */
  border-bottom: 1px solid #ddd; /* 아래쪽 선 */
}

.money {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px; /* 아래 여백 추가 */
}

.strikeThrough {
  text-decoration: line-through;
  color: #a1a1a1;
}

.discountText {
  font-size: 12px;
  color: #1570ff;
  margin-top: 5px;
}

.matchend {
  font-size: 10px;
  color: red;
  margin-top: 5px;
}

.matchClosed {
  font-size: 14px;
  color: red;
  margin-top: 10px;
}

.applyButton {
  width: 90%;
  padding: 10px;
  background-color: #1570ff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  margin: 10px auto; /* 버튼만 가운데 정렬 */
  display: block;
  text-align: center;
}

.applyButton:hover {
  background-color: #0056b3;
}

.disabledButton {
  width: 90%;
  padding: 10px;
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  color: #a1a1a1;
  font-size: 14px;
  cursor: not-allowed;
  margin: 10px auto; /* 버튼만 가운데 정렬 */
  display: block;
  text-align: center;
}

.mapContainer {
  background-color: #e0e0e0; /* 임시 배경색 */
  width: 100%;
  height: 300px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
