.matchDetails {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.matchTime {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

.matchPlace {
  margin-bottom: 15px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.title a {
  text-decoration: none;
  color: black;
}

.wtgTool {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.copy,
.map {
  cursor: pointer;
  color: #838383;
  text-decoration: underline;
}

.matchFee {
  margin-top: 15px;
  border-top: 1px solid #ddd; /* 추가된 위쪽 선 */
  border-bottom: 1px solid #ddd; /* 기존 아래쪽 선 */
  padding: 20px 0;
}

.money {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.matchApplyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 0;
}

.applyFull {
  width: 90%;
  padding: 10px;
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  color: #a1a1a1;
  font-size: 14px;
  cursor: not-allowed;
}

.matchend{
  font-size: 10px;
  color: red;
}