/* 섹션 스타일 */
.section {
  margin: 20px 0px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px; /* 테두리 둥글게 */
  font-family: Arial, sans-serif;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0;
}

.sectionTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0; /* 헤더의 상단/하단 간격 없앰 */
}

.sectionBody {
  padding-top: 10px;
}


/* 화살표 스타일 */
.arrowDown {
  width: 10px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.arrowUp {
  width: 10px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(-135deg);
  transition: transform 0.3s;
}

/* 리스트 스타일 */
.matchRule {
  margin: 0;
  padding-left: 10px; /* 섹션 헤더와 동일한 간격 */
  padding-bottom: 10px;
  list-style-type: disc; /* 점 모양 리스트 */
}

.matchRule h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.matchRule li {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}
